* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 90%;

	margin: auto;
	overflow: hidden;
}

.contenedorHero {
	margin: auto;
	overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */

header {
	width: 100%;
	background: url('../img/camionestas_transportadoras.jpg'), #281a0c;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	height: 1080px;
}


header .contenedorHero {
	position: relative;
	height: 100%;
}

header .menu {
	width: 100%;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
	padding-right: 20px;
}

header .menu a {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}

header .menu a:hover {
	text-decoration: underline;
}

.textos {
	max-width: 540px;
	margin-top: -200px;
}

.textos img {
	width: 100%;
}

header .textos {

	width: 100%;
	color: #fff;
	position: absolute;
	top: 58%;
	left: 65%;
	
}

header .textos .nombre {
	font-size: 50px;
	font-weight: 600;
}

header .textos .nombre span {
	font-weight: 300;
}

header .textos h3 {
	font-weight: 300;
	font-size: 25px;
	font-style: italic;
}

/* ----- ----- MAIN ----- ----- */
.main {
	background: url('../img/bg-textura.png');
	background-repeat: repeat;
}

.main .acerca-de .contenedor {
	overflow: visible;
	position: relative;
}

.main .acerca-de .foto {
	width: 80%;
	position: absolute;
	left: 0;
	top: -50px;
	z-index: 0;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.main .acerca-de .foto img {
	width: 100%;
	vertical-align: top;
	height: auto;
}

.main .acerca-de article {
	background: #fff;
	padding: 40px;
	width: 50%;
	position: relative;
	float: right;
	top: 500px;
	/*Con Parallax*/
	z-index: 1;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}

.main .acerca-de article h3 {
	font-size: 50px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .acerca-de article p {
	line-height: 28px;
	margin-bottom: 15px;

}

.main .menu {
	padding-top: 900px;
	margin: 0 0 200px;
}

.main .menu .titulo {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.main .menu .contenedor-servicios {
	/*border: 1px solid #000;*/
	background: transparent;
	padding: 10px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.main .menu .contenedor-servicios .servicio1 {
	/*border: 1px solid #000;*/
	text-align: center;
	max-width: 300px;
}

.main .menu .contenedor-servicios .servicio1 h2 {
	font-weight: 300;
}
.main .menu .contenedor-servicios .servicio1 a {
	
}

.main .galeria {
	overflow: hidden;
}

.main .galeria .titulo {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
}

.main .galeria .foto {
	width: 25%;
	float: left;
}

.main .galeria .foto img {
	vertical-align: top;
	width: 100%;
	opacity: .7;
}

.main .galeria .foto img:hover {
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.main .ubicacion {
	/*background: #fff;*/
	padding: 60px 0;
}

.main .ubicacion .titulo {
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 40px;
}

.main .ubicacion .direccion {
	width: 50%;
	float: left;
	text-align: left;
}

.main .ubicacion .horarios {
	width: 50%;
	float: right;
	text-align: right;
}

.main .ubicacion .direccion .calle {
	margin-bottom: 15px;
}

.main .ubicacion .horarios {
	overflow: hidden;
}

.main .ubicacion .horarios h4 {
	text-align: center;
	margin-bottom: 20px;
}

.main .ubicacion .horarios .entre-semana,
.main .ubicacion .horarios .fin-semana {
	width: 50%;
	float: left;
	text-align: center;
}

.main .mapa {
	width: 100%;
	overflow: hidden;
}

.main .mapa iframe {
	width: 100%;
	max-height: 600px;
}

/* ----- ----- FOOTER ----- ----- */
footer {
	background: #000;
}

footer .copyright {
	text-align: center;
	padding: 15px 0;
	color: #fff;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 40px 0;
}

.footer-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.footer-section {
	flex: 1;
	min-width: 200px;
}

.footer-container .footer-section:nth-child(1) {
	margin-right: 70px;
}

.footer-section h4 {
	font-size: 1.2em;
	margin-bottom: 15px;
}

.footer-section p,
.footer-section a,
.footer-section li {
	color: #bbb;
	margin: 5px 0;
	text-decoration: none;
}

.footer-section ul {
	list-style-type: none;
	padding: 0;
}

.footer-section a:hover {
	color: #fff;
}

.social-icons img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.footer-bottom {
	text-align: center;
	padding: 20px;
	font-size: 0.9em;
	border-top: 1px solid #444;
	color: #bbb;
}

/*CSS DE LA HOJA Servicios.html*/
h2 {
	margin: 50px 0 ;
}
.titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.grid-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
	margin-bottom: 50px;
}

.servicio {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.servicio img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.servicio h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.servicio p {
    padding: 0 1rem;
    font-size: 1rem;
    color: #666;
}

.btn-contacto {
    display: inline-block;
    margin: 1rem 0;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-contacto:hover {
    background-color: #0056b3;
}



/* ----- ----- MEDIA QUERIES ----- ----- 

@media screen and (max-width: 2560px) {
	header {
		height: 1654px;
	}

	header .textos {
		position: absolute;
		top: 77%;
		left: 60%;
		margin: 100px 0 0;
		max-width: 900px;

	}

	.main .menu {
		padding-top: 1480px;
		margin: 0 0 200px;
	}
}

*/
@media screen and (max-width: 1440px) {


	.main .menu {
		padding-top: 880px;
		margin: 0 0 200px;
	}

	
}

@media screen and (max-width: 1024px) {
	header .textos {
		position: absolute;
		top: 55%;
		left: 50%;
		margin: 100px 0 0;
		max-width: 475px;

	}

	.main .menu {
		padding-top: 650px;
		margin: 0 0 200px;
	}

	.main .menu .contenedor-servicios {
		background: transparent;
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		/* Dos columnas de igual tamaño */
		gap: 40px;
	}

	header {
		height: 1080px;
	}

	.footer-container{
		grid-template-columns: 1fr 1fr;
		display: grid;
		margin: 0 auto 30px;
	}
	.footer-container .footer-section:nth-child(1) {
		margin-right: 0;
	}

	.footer-section {
		text-align: center;
	}

}

@media screen and (max-width: 800px) {
	header {
		background-position: -60px 0;
	}

	header .contenedor {
		position: static;
		height: auto;
	}


	header .textos {
		position: absolute;
		top: 50%;
		left: 45%;
		margin: 100px 0 0;
		max-width: 370px;
	}

	header .menu {
		text-align: center;
		padding: 0 0;
	}

	header .menu a {
		margin: 10px 20px;
	}

	header .textos .nombre {
		font-size: 30px;
	}

	header .textos h3 {
		font-size: 18px;
	}

	.main .acerca-de .foto {
		position: relative;
		width: 100%;
	}

	.main .acerca-de article {
		position: relative;
		width: 100%;
		top: -50px;
		transform: translate(0px, 0);
	}

	.main .menu {
		padding-top: 300px;
	}

	.main .menu article {
		width: 100%;
	}

	.main .galeria .foto {
		width: 50%;
	}

	.main .mapa {
		width: 80%;
		margin: auto;
	}
}

@media screen and (max-width: 426px) {
	header {
		width: 100%;
		background: url('../img/banesCoarMobile.jpg'), #281a0c;
		background-size: cover;
		background-attachment: fixed;
		background-position: -15px center;
		background-repeat: no-repeat;
		height: 878px;
	}

	header .menu a {
		margin: 10px 10px;
		font-size: 18px;
	}

	header .textos {
		position: absolute;
		top: 100%;
		left: 0%;
		margin: 100px 0 0;
		max-width: 400px;
	}

	.main .acerca-de article h3 {
		font-size: 34px;
		margin-bottom: 10px;
	}

	.main .menu .contenedor-servicios {
		background: transparent;
		padding: 10px;
		display: grid;
		grid-template-columns: 1fr;
		/* Dos columnas de igual tamaño */
		gap: 10px;
	}

	.main .menu article .nombre,
	.main .menu article .precio {
		font-size: 16px;
		line-height: 16px;
	}

	.main .ubicacion .direccion,
	.main .ubicacion .horarios {
		width: 100%;
		text-align: center;
	}

	.main .ubicacion .direccion {
		margin-bottom: 20px;
	}

	.main .ubicacion .horarios .entre-semana,
	.main .ubicacion .horarios .fin-semana {
		width: 100%;
		margin-bottom: 10px;
	}

	.footer-container{
		grid-template-columns: 1fr;
		display: grid;
		margin: 0 auto 30px;
	}
}